{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4.0.0"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
